
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: palevioletred; 
}

#site-title {
    font-size: 24px;
    font-weight: bold;
    color: white; 
}

#menu {
    display: flex;
    margin-right: auto; 
    margin-left: 20px; 
}

.menu-link {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.menu-link:hover {
    text-decoration: underline;
}

.call-icon {
    font-size: 14px;
    color: white;
}
